{% if auth %}
<li>welcome  {{user.name}}</li>
<li><a href="logout">Logout</a></li>
{% else %}
<li><a href="signin">Sign in</a></li>
<li><a href="signup">Sign Up</a></li>
{% endif %} 

{% if auth and manager %}
<li><a href="addroom">Add Room slot</a></li>
<li><a href="changeslots">Edit Room Slots</a></li>
<li><a href="viewbookings">View Bookings</a></li>
<form action="bookroom" method="post">
	{% csrf_token %}
	<input type="submit" value="View Summary of al Rooms">
</form>
{% elif auth %}
<li><a href="bookroom">Book Room</a></li>
<li><a href="deletebookings">Delete Bookings</a></li>
<li><a href="bookings">View Bookings</a></li>
{% endif %}


<form action="" method="post">

	{% csrf_token %}
	<p>     Enter the Date :    <input type=" text" name="d">    Enter the Start time :   <input type=" text" name="st">     Enter the End time :    <input type=" text" name="et"></p>
	<input type="submit">
</form>


{% for room in rooms %}

{% if auth and not manager %}
<form action="bookroom" method="post">
	{% csrf_token %}
	<p> {{room.rn}} vfv  {{room.mid}} 
	<input name="room" value="{{forloop.counter}}" hidden>
	<input type="submit" value="book"></p>
</form>
{% else %}
<p> {{room.rn}} vfv  {{room.mid}} </p>
{% endif %}

{% endfor %}