{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/myButton.css'%}">
    <style>
        .column {
            float: left;
            width: fit-content;
            padding-right: 10px;
        }

        .row:after {
            width: fit-content;
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <form action="signupuser" method="post">
        {% csrf_token %}
        <div class="row"><b>Enter the following details :-</b></div>
        <div class="row">
            <div class="column">
                <p>Name : {{ form.name }}</p>
            </div>
            <div class="column">
                <p>Email : {{ form.email }}</p>
            </div>
            <div class="column">
                <p>LoginId : {{ form.loginid }}</p>
            </div>
            <div class="column">
                <p>Password : {{ form.password }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit"
                        class="myButton"></p>
            </div>
        </div>
    </form>
    <div class="row">
        {% for me in messages %}
        <div class="alert alert-danger" role="alert">
            {{me}}
        </div>
        {% endfor %}
    </div>

</body>
</html>